

/* Cards Services */

#card-services {
    cursor: pointer;
    overflow:hidden;
}

#card-services:hover img {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

#card-services img {
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }

 /* fournisseur    */
 .error{
     -webkit-box-shadow: 0 0 10px rgb(0,0,0,0.3);
     -moz-box-shadow:0 0 10px rgb(0,0,0,0.3);
     -o-box-shadow:0 0 10px rgb(0,0,0,0.3);
     background: red;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
     color:#fff;
     display:none;
     font-size:14px;
     margin-top: -80px;
     margin-left: 340px;
     padding: 10px;
    position:absolute;
 }

#messageEnregistrer,#messageLogin{
	font-size:16px;
	color:red;
	/*position:absolute;*/
	/*top:3%;*/
	/*left:70%;*/
}

span.lien{
    /*float: right;*/
    text-decoration: underline;
    cursor: pointer;
    color:  #2196F3;
}

.imgLien{
    cursor: pointer;
}
.col{
    max-width: 10%;
}

#map {
    height: 50%;
  }

 /* Optional: Makes the sample page fill the window. */
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* Select Images Services */

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
    width: 100px;
    height: 60px;
}

/* CHECKED STYLES */
[type=radio]:checked+img {
    outline: 2px solid #ff0000;
}

#div-images {
    overflow-x: auto;
    white-space: nowrap;
}

[type=radio]:hover+img {
-ms-transform:scale(1.25);
-webkit-transform:scale(1.25);
transform:scale(1.25);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Fin Select Images Services */

/* Cards Forfait */

.card-forfait:hover img {
    -ms-transform:scale(1.03);
    -webkit-transform:scale(1.03);
    transform:scale(1.03);
}

.card-forfait img {
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }

/* Fin Cards Forfait */

/* Cards Graphique Marketing */

#card-graphmrketing {
    cursor: pointer;
    overflow:hidden;
}

#card-graphmrketing:hover img {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

#card-graphmrketing img {
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }

/* Fin Cards Graphique Marketing */